<h1>Calculate a random number</h1>

<form action="/random/results">
  <label for="min_num">Minimum</label>
  <input type="text" name="min_num" id="min_num">

  <label for="max_num">Maximum</label>
  <input type="text" name="max_num" id="max_num">

  <button>Pick random number</button>
</form>
