<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <label for="user_number">Enter a number</label>
  <input type="text" name="user_number" id="user_number">
  <button>Calculate square root</button>
</form>
