<h1>Calculate a monthly payment on a loan</h1>

<form action="/payment/results">
  <label for="apr">APR</label>
  <input type="text" name="apr" id="apr">

  <label for="num_years">Number of years</label>
  <input type="text" name="num_years" id="num_years">

  <label for="principal">Principal</label>
  <input type="text" name="principal" id="principal">

  <button>Calculate monthly payment</button>
</form>
